


#piano {
    border: black solid 3px;
}

#piano div {
    display:inline-block;
    position: relative;
    width:13px;
}

.black-key {
    background-color:black;
    height: 60px;
}

.white-key {
    background-color:white;
    height:100px;
}

.pressed-key {
    background-color:red;
}


#oscillator-waveform{
    display:inline;
    fill:white;
}

#oscillator-waveform circle {
    cursor: pointer;
}

#oscillator-waveform circle.active {
    fill:red;
}

#knob-master-volume {
    cursor: pointer;
}
