:root {
    --primary-color: white;
    --secondary-color: black;
    
    --black-key-height: 60px;
    --white-key-height: calc(5/3*var(--black-key-height));
}

body {
    background-color: var(--main-bg-color);
}

#messages {
    color:red;
}



#piano {
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;


    border: black solid 10px;
    border-radius: 5px;
    
}

#piano div {
    width:100%;
}

.black-key {
    background-color: black;
    height: var(--black-key-height);
}

.white-key {
    background-color: white;
    height:var(--white-key-height);
}

.pressed-key {
    background-color:rgb(76, 10, 131);
}


#oscillator-waveform{
    display:inline;
    fill:white;
}

#oscillator-waveform circle {
    cursor: pointer;
}

#oscillator-waveform .active {
    fill:red;
}

#knob-master-volume {
    cursor: pointer;
}
